* {
    margin: 0;
    padding: 0;
}

.all-subject-header {
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(131, 125, 126, 0.8);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-create-subject {
    background-color: #0b3d78;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header>button {
    border: none;
    background-color: #0b3d78;
    color: white;
    border-radius: 8px;
    padding: 4px 8px;
}

.subject-body>input {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 0 auto;
}

.subject-body>button {
    padding: 10px 20px;
    margin-left: 20px;
    border: 2px solid;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    background-color: #0b3d78;
    color: white;
}